* {
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

*::after, *::before {
  box-sizing: border-box;
}

#main {
	width: 100%;
	outline-offset: -10px;
	outline: 10px solid #fff;
	position: fixed;

	background:  rgba(92,185,204,1);
	background: -moz-linear-gradient(top, rgba(92,185,204,1) 0%, rgba(217,224,195,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,185,204,1)), color-stop(100%, rgba(217,224,195,1)));
	background: -webkit-linear-gradient(top, rgba(92,185,204,1) 0%, rgba(217,224,195,1) 100%);
	background: -o-linear-gradient(top, rgba(92,185,204,1) 0%, rgba(217,224,195,1) 100%);
	background: -ms-linear-gradient(top, rgba(92,185,204,1) 0%, rgba(217,224,195,1) 100%);
	background: linear-gradient(to bottom, rgba(92,185,204,1) 0%, rgba(217,224,195,1) 100%);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#main.active{
	outline-offset: -20px;
	outline: 20px solid #fff;
}

#texture-main {
	background: url('../imgs/texture-old.png');
	width: 100%;
	outline-offset: -10px;
	outline: 10px solid #fff;
	position: fixed;
	z-index: 0;
	height: 100%;
}


#stars {
	background: url('../imgs/stars.png') no-repeat;
	width: 100%;
	outline-offset: -10px;
	outline: 10px solid #fff;
	position: fixed;
	z-index: 0;
	height: 100%;
}


#character{ 
	width: 80px;
    height: 80px;
    background: url('../imgs/personagem.png');
    background-color: #b8d2ba;
    background-position: center -60px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 39px;
    z-index: 9;
    border-radius: 50%;
    border: 10px solid #FFF;
    cursor: pointer;
    transition: background-color 0.4s ease-out 0s, background-image  0.4s ease-out 0s;
	-moz-transition: background-color 0.4s  ease-out 0s, background-cimage 0.4s  ease-out 0s;
	-ms-transition: background-color 0.4s  ease-out 0s, background-cimage 0.4s  ease-out 0s;
	-o-transition: background-color 0.4s  ease-out 0s, background-cimage 0.4s  ease-out 0s;
	-webkit-transition: background-color 0.4s  ease-out 0s, background-cimage 0.4s  ease-out 0s;
}

#character:hover{
	background-color: #dd666c !important;
}


#forceScroll {
	height: 30000px;
}

#sun {
	background: url('../imgs/sun.png') no-repeat;
	background-position: center top;
	background-size: 100% auto;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	height: 100%;
	position: absolute;
	z-index: -1;
	margin-top: -70px;
}

#moon {
	background: url('../imgs/moon.png') no-repeat;
	background-position: center 1500;
	background-size: 100% auto;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	height: 100%;
	position: absolute;
	z-index: -1;
	margin-top: -70px;
}


@media screen and (max-width:1200px){
	#sun, #moon{
		margin-top: -30px;
	}
}

#bottom-nav {
	width: 570px;
	height: 70px;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -285px;
	background: url('../imgs/bg-nav-footer.png') center top no-repeat;
}


#bottom-nav > ul {
	width: 100%;
	text-align: center;
	list-style: none;
	position: absolute;
	z-index: 11;
}

#bottom-nav > ul > li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #cacaca;
	display: inline-block;
	margin: 23px 50px 0px 50px;
	cursor: pointer;

	transition: background-color 0.5s ease-out 0s;
	-moz-transition: background-color 0.5s  ease-out 0s;
	-ms-transition: background-color 0.5s  ease-out 0s;
	-o-transition: background-color 0.5s  ease-out 0s;
	-webkit-transition: background-color 0.5s  ease-out 0s;
}

#bottom-nav > ul > li#bt-nav-1{
	background: #dd666c;
}

#bottom-nav > ul > li:hover{
	background-color: #dd666c !important;
}

#line-nav {
	margin-left: 97px;
    margin-top: 31px;
}

#line-nav-hover {
	margin-left: 97px;
    margin-top: -10px;
}

.hover-menu{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #dd666c;
	border: 5px solid #FFF;
	-webkit-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
	position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 0;
    z-index: -1;
	transition: width 0.4s ease-out 0s, height 0.4s ease-out 0s, margin-top 0.4s ease-out 0s, margin-left 0.4s ease-out 0s, opacity 0.4s ease-in-out;
	-moz-transition: width 0.4s  ease-out 0s, height 0.4s ease-out 0s, margin-top 0.4s ease-out 0s, margin-left 0.4s ease-out 0s, opacity 0.4s ease-in-out;
	-ms-transition: width 0.4s  ease-out 0s, height 0.4s ease-out 0s, margin-top 0.4s ease-out 0s, margin-left 0.4s ease-out 0s, opacity 0.4s ease-in-out;
	-o-transition: width 0.4s  ease-out 0s, height 0.4s ease-out 0s, margin-top 0.4s ease-out 0s, margin-left 0.4s ease-out 0s, opacity 0.4s ease-in-out;
	-webkit-transition: width 0.4s  ease-out 0s, height 0.4s ease-out 0s, margin-top 0.4s ease-out 0s, margin-left 0.4s ease-out 0s, opacity 0.4s ease-in-out;
}

#bottom-nav > ul > li:hover > .hover-menu{
	width: 45px;
	height: 45px;
	margin-top: -65px;
    margin-left: -18px;
    opacity: 1;
}

#bottom-nav > ul > li:hover > .hover-menu > #hour-home{
	animation-name: rotateHome;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes rotateHome {
  100% {
    transform: rotateZ(580deg);
  }
}

#bottom-nav > ul > li:hover > .hover-menu > #hour-office{
	animation-name: rotateOffice;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes rotateOffice {
  100% {
    transform: rotateZ(632deg);
  }
}


#bottom-nav > ul > li:hover > .hover-menu > #hour-projects{
	animation-name: rotateProject;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes rotateProject {
  100% {
    transform: rotateZ(650deg);
  }
}


#bottom-nav > ul > li:hover > .hover-menu > #hour-contact{
	animation-name: rotateContact;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes rotateContact {
  100% {
    transform: rotateZ(720deg);
  }
}


.hours-menu{
	background: url("../imgs/pointer_hours.png");
	height: 29px;
	width: 4px;
	margin: 0 auto;
    margin-top: 9px;
}

.icon-menu{
	display: none;
	width: 100%;
}

.icon-menu > img{
	width: 57%;
    margin: 0 auto;
    margin-top: 7px;
}






/* MENU VERTICAL */

#container-menu-vert{
	width: 300px;
	height: 100%;
	background: #FFF;
	position: absolute;
	right: -300px;
	top: 0;
	z-index: 2;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#container-menu-vert.open-menu-vert{
	right: 0;
}

#container-menu-vert > ul {
	padding-left: 0px;
	width: 100%;
	margin-top: 100px;
	text-align: center;
	font-family: 'Dosis';
	font-weight: 300;
	list-style: none;
	font-size: 23px;
	color: #666666;
}

#container-menu-vert > ul > li {
	padding: 10px 0px 16px 0px;
    cursor: pointer;
    width: 70%;
    border-bottom: 1px solid #CCC;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#container-menu-vert > ul > li:hover{
	color: #dd666c;
	border-bottom: 1px solid #dd666c;
	width: 80%;
}

#container-menu-vert > ul > li.active{
	color: #dd666c;
	border-bottom: 1px solid #dd666c;
	width: 80%;
}


#button-menu-vert {
  width: 40px;
  height: 20px;
  position: absolute;
  margin: 30px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 3;
  right: 30px;
}

#button-menu-vert span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#button-menu-vert {
}

#button-menu-vert span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#button-menu-vert span:nth-child(2) {
  top: 12.5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#button-menu-vert span:nth-child(3) {
  top: 25px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#button-menu-vert.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 6px;
  background: #dd666c;
}

#button-menu-vert.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#button-menu-vert.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 28px;
  left: 6px;
  background: #dd666c;
}

/* TEXTS */

.modal-content h2 {
	font-family: 'Dosis';
	font-weight: 300;
	color: #FFFFFF;
	font-size: 30px;
}

.modal-content h3 {
	font-family: 'Dosis';
	font-weight: 300;
	color: #862a2e;
	font-size: 17px;
	margin-bottom: 30px;
}

.modal-content p {
	font-family: 'Dosis';
	font-weight: 300;
	color: #FFFFFF;
	font-size: 20px;
}