*{
  outline: none;
  user-select: none;
}

footer{
  width: 100%;
  height: 14vh;
  background-color: #1b1b1b;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;

  &:before{
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
  }

  button#save{
    width: 90px;
    margin: 0 auto;
    background-color: #383737;
    color: #FFF;
    padding: 12px 15px 12px 15px;
    border: 0;
    border-radius: 4px;
    margin-left: 15px;
    font-size: 13px;
    outline: none;
    background-image: linear-gradient(to right, #4ebe74 , #2bc7ce);
    font-weight: bold;
    display: inline;
    float: right;
  }

  #amountDay {
    color: #FFF;
    float: left;

    span {
      font-size: 12px;
    }
  }
}


main{
  padding-top: 10px;

  #save_entry {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  #label {
    display: inline;
    background: #666;
    color: #CCC;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-radius: 4px 0px 0px 4px;
    padding: 12px;
    border: 1px solid #3e3d3d;
  }

  #price{
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #3e3d3d;
    padding: 12px;
    color: #FFF;
    background: #252525;
    width: 179px;
    font-size: 13px;
    outline: none;
    margin-left: -6px;
    display: inline;
    text-align: left;
  }


  input#address{
    width: 90%;
    margin-left: 5%;
    border: 0;
    border-bottom: 1px solid #a9a8a8;
    padding: 12px;
    margin-bottom: 0px;
    background-color: #2d2d2d;
    color: #FFF;
    font-size: 11px;
    border-radius: 0;
  }

  #date_save {
    width: 100%;
    display: block;
    text-align: center;
    color: #CCC;
    font-size: 13px;
    margin-top: 17px;
  }

  ul#categories{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 3px;


    li{
      width: 22vw;
      height: auto;
      display: inline-block;
      border-radius: 4px;
      border-left: 1px solid #666;
      border-top: 1px solid #666;
      border-right: 1px solid #666;
      border-bottom: 1px solid #666;
      margin-bottom: 8px;
      list-style: none;
      padding-bottom: 10px;

      i{
        margin-top: 15px;
        margin-bottom: 7px;
        background: transparent;
        font-size: 20px;
        color: #a9a8a8;
      }

      p{
        font-size: 10px;
        color: #a9a8a8;
      }

      &.active {
        background-color: #2bc7ce;
        border-color: #000;

        p {
          color: #000;
        }

        i {
          color: #000;
        }
      }
    }
  }

  ul#values{
    text-align: center;
    margin-top: 20px;

    li{
      width: 15%;
      display: inline-block;
      height: auto;
      border: 0px solid #666;
      background: #3e3d3d;
      border-radius: 4px;
      margin: 3px;
      padding: 10px;
      font-size: 13px;
      margin-bottom: 10px;
      font-weight: bold;
      color: #FFF;
    }
  }
}

.jconfirm-holder {
  max-width: 80%;
  margin-left: 10%;
}

.jconfirm.jconfirm-black .jconfirm-bg, .jconfirm.jconfirm-dark .jconfirm-bg {
    background-color: black;
    opacity: .6;
}
