@font-face {
    font-family: "PorscheNextWLa";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/PorscheNextWLa-Bold.eot");
    src: url("../fonts/PorscheNextWLa-Bold.eot?#iefix") format("embedded-opentype"), 
	    url("../fonts/PorscheNextWLa-Bold.woff2") format("woff2"), 
	    url("../fonts/PorscheNextWLa-Bold.woff") format("woff"), 
	    url("../fonts/PorscheNextWLa-Bold.ttf") format("truetype"), 
	    url("../fonts/PorscheNextWLa-Bold.svg#PorscheNextWLa-Bold") format("svg");
}

@font-face {
    font-family: "PorscheNextWCy";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/PorscheNextWCy-Regular.eot");
    src: url("../fonts/PorscheNextWCy-Regular.eot?#iefix") format("embedded-opentype"), 
	    url("../fonts/PorscheNextWCy-Regular.woff2") format("woff2"), 
	    url("../fonts/PorscheNextWCy-Regular.woff") format("woff"), 
	    url("../fonts/PorscheNextWCy-Regular.ttf") format("truetype"), 
	    url("../fonts/PorscheNextWCy-Regular.svg#PorscheNextWCy-Regular") format("svg");
}


body{
	background-color: #FFF;	
	font-family: "PorscheNextWLa";
}

.dektop{  display: block !important; }
.mob991{  display: none !important; }
.mob768{  display: none !important; }

@media (max-width: 991px){
	.dektop{  display: none !important; }
	.mob991{  display: block !important; }
	.mob768{  display: none !important; }
}

@media (max-width: 768px){
	.dektop{  display: none !important; }
	.mob991{  display: none !important; }
	.mob768{  display: block !important; }
}

header{
	text-align: center;
	border-bottom: 1px solid #e3e4e4;
	width: 80%;
	margin-left: 10%;

	a{
		background: url('../imgmin/porsche.svg') #FFF;
		width: 127px;
	    height: 75px;
	    background-size: 123px auto;
	    display: block;
	    margin: 0 auto;
	    top: 16px;
    	position: relative;
	}

}

section#banner{
	width: 100%;
	height: auto;
	margin-top: 40px;
	background-color: #d7d9d8;

	.slides{
		height: 496px;

		@media (max-width: 768px){
			height: auto;
		}

		.item{
			outline: none;
			text-align: center;
			
			img{
				margin: 0 auto;

				@media (max-width: 768px){
					max-width: 100%;
				}
			}

			.content{
				font-weight: normal;
				color: #FFF;
				font-size: 35px;
				position: relative;

				h2{
					&::before{
						content: "";
						background: url("../imgmin/red-arrow.png");
						height: 29px;
						width: 16px;
						display: inline-block;
						margin-right: 14px;

						@media (max-width: 768px){
							background: url("../imgmin/red-arrow-mob.png");
							height: 18px;
							width: 10px;
						}
					}


				}
			
				&.item-panamera{
					display: block;
				    max-width: 1130px;
				    color: #000;
				    top: -490px;
				    text-align: left;
				    margin: 0 auto;

				    @media (max-width: 768px){
						max-width: 80%;
						top: -430px;
					}

					@media (max-width: 700px){
						top: -390px;
					}

					@media (max-width: 600px){
						top: -330px;
					}

					@media (max-width: 510px){
						top: -279px;
					}

					@media (max-width: 430px){
						top: -250px;
					}

					@media (max-width: 380px){
						top: -231px;
					}

					@media (max-width: 340px){
						top: -211px;
					}


					h2{
						display: block;
				    	max-width: 640px;
						font-size: 35px;
						float: right;	

						@media (max-width: 991px){
							padding-right: 20px;
							padding-left: 20px;
							font-size: 25px;
						}	

						@media (max-width: 768px){
							max-width: 100%;
							float: none;
							position: absolute;
						}	

						@media (max-width: 500px){
							font-size: 20px;
						}

						@media (max-width: 340px){
							font-size: 18px;
						}	
					}
				}

				&.item-macan{
					display: block;
				    max-width: 1130px;
				    color: #FFF;
				    top: -490px;
				    text-align: left;
				    margin: 0 auto;

				    @media (max-width: 768px){
						max-width: 80%;
						top: -430px;
					}

					@media (max-width: 700px){
						top: -390px;
					}

					@media (max-width: 600px){
						top: -330px;
					}

					@media (max-width: 510px){
						top: -279px;
					}

					@media (max-width: 430px){
						top: -250px;
					}

					@media (max-width: 380px){
						top: -231px;
					}

					@media (max-width: 340px){
						top: -211px;
					}

					h2{
						font-size: 35px;

						@media (max-width: 991px){
							padding-right: 20px;
							padding-left: 20px;
							font-size: 25px;
						}	

						@media (max-width: 768px){
							max-width: 100%;
							float: none;
							position: absolute;
						}

						@media (max-width: 500px){
							font-size: 20px;
						}
						
					}
				}

				&.item-911{
					display: block;
				    max-width: 1130px;
				    color: #FFF;
				    top: -145px;
				    text-align: left;
				    margin: 0 auto;

				    @media (max-width: 768px){
						max-width: 80%;
					}

					@media (max-width: 500px){
						top: -120px;
					}

					h2{
						display: block;
				    	max-width: 785px;
						font-size: 35px;
						float: right;

						@media (max-width: 991px){
							padding-right: 20px;
							padding-left: 20px;
							font-size: 25px;
						}	

						@media (max-width: 768px){
							max-width: 100%;
							float: none;
							position: absolute;
						}

						@media (max-width: 500px){
							font-size: 20px;
						}
					}
				}
			}
		}

		.slick-dots{
			bottom: 30px;

			li{
				width: 14px;
				height: 14px;
				background-color: #dfdfe2;
				border-radius: 50%;
				margin: 0px 20px;

				&.slick-active{
					background-color: #df0428;
				}

				button:before{
					content: none;
				}
			}
		}

		.slick-arrow{
			width: 26px;
			height: 48px;
			z-index: 99;

			@media (max-width: 768px){
				width: 18px;
				height: 33px;
			}

			&::before{
				content: none;
			}
		}

		.slick-prev{
			background-image: url('../imgmin/left-arrow.png');
			left: 50px;

			@media (max-width: 991px){
				left: 10px;
			}

			@media (max-width: 768px){
				background-image: url('../imgmin/left-arrow-mob.png');
			}
		}

		.slick-next{
			background-image: url('../imgmin/right-arrow.png');
			right: 50px;

			@media (max-width: 991px){
				right: 10px;
			}

			@media (max-width: 768px){
				background-image: url('../imgmin/right-arrow-mob.png');
			}
		}

	}


}

section#infos{
	text-align: center;

	#item-info-0{
		display: block;
	}

	#item-info-1{
		display: none;
	}

	#item-info-2{
		display: none;
	}

	h3{
		font-size: 25px;
		color: #000;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;

		@media (max-width: 600px){
			font-size: 20px;
		}


	}

	p{
		font-family: "PorscheNextWCy";
		font-size: 25px;
		color: #9d9e9d;
		font-weight: normal;
		text-align: center;
		display: block;
		max-width: 1070px;
		text-align: left;
		margin: 0 auto;

		@media (max-width: 767px){
			text-align: center;
		}	

		@media (max-width: 600px){
			font-size: 20px;
		}
	}

	.box-wells{
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;

		.wells{
			max-width: 354px;
			height: auto;
			text-align: center;
			display: inline-block;
			margin-right: 20px;
			margin-left: 20px;
			margin-bottom: 40px;

			img{
				border-bottom: 7px solid #e60012;
				margin-bottom: 10px;
			}

			h4{
				font-size: 25px;
				color: #000;
				font-weight: bold;
				text-align: center;

				@media (max-width: 600px){
					font-size: 20px;
				}
			}

			p{
				font-family: "PorscheNextWCy";
				font-size: 25px;
				color: #9d9e9d;
				text-align: center;

				@media (max-width: 600px){
					font-size: 20px;
				}
			}

			p.price{
				color: #e60012;
				font-weight: bold;
				font-size: 25px;
				text-align: center;

				@media (max-width: 600px){
					font-size: 20px;
				}
			}
		}
	}

	
}

footer{
	background-color: #dfdfe2;
	padding-top: 40px;
	padding-bottom: 40px;

	@media (max-width: 991px){
		.col-md-3{
			margin-bottom: 35px;
		}
	}

	h5{
		font-size: 16px;
		color: #000;
		font-weight: bold;
		text-align: left;

	}

	p{
		font-family: "PorscheNextWCy";
		font-size: 16px;
		color: #606360;
		text-align: left;
	}

	a{
		color: #3d403d;
		text-decoration: underline;

		&:hover{
			color: #000;
		}
	}
}