<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="theme-color" content="#000000">
<meta name="msapplication-navbutton-color" content="#000000">
<meta name="apple-mobile-web-app-status-bar-style" content="#000000">

<meta name="description" content="DESCRIÇÂO" />
<meta property="og:site_name" content="TOITULO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="URL SITE" />
<meta property="og:title" content="TOITULO" />
<meta property="og:description" content="DESCRIÇÂO" />
<meta property="og:image" content="IMAGEM COMPARTILHAMENTO">
<meta property="og:image:type" content="image/jpeg">
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="URL SITE" />
<meta name="twitter:title" content="TOITULO" />

<link rel="shortcut icon" href="files/imgs/favicon.ico" type="image/ico">
<link rel="canonical" href="URL SITE" />
<link rel="shortlink" href="URL SITE" />

	