<!-- TEXTURE -->
<div id="texture-main"></div>

<!-- STARS -->
<div id="stars"></div>

<!-- SKY -->
<div id="sun"></div>
<div id="moon"></div>

<!-- VERTICAL MENU -->
<div id="button-menu-vert">
  <span></span>
  <span></span>
  <span></span>
</div>

<div id="container-menu-vert">
	<ul>
		<li data-page="0%" id="bt-nav-1-vert" class="nav-pages">Jobs</li>
		<li data-page="31%" id="bt-nav-2-vert" class="nav-pages">Codes</li>
		<li data-page="63%" id="bt-nav-3-vert" class="nav-pages">Specialty</li>
		<li data-page="100%" id="bt-nav-4-vert" class="nav-pages">Contact</li>
		<li href="#modal-about-details" class="cd-modal-trigger item-menu-about">About</li>
	</ul>
</div>

<!-- MENU -->
<nav id="bottom-nav">
	<ul>
		<li data-page="0%" id="bt-nav-1" class="menu-nav-item nav-pages" data-icon="coffe-icon" data-iconposy="15px">
			<div class="hover-menu">
				<div class="hours-menu" id="hour-home"></div>
			</div>
		</li>
		<li data-page="31%" id="bt-nav-2" class="menu-nav-item nav-pages" data-icon="office-icon" data-iconposy="15px">
			<div class="hover-menu">
				<div class="hours-menu" id="hour-office"></div>
			</div>
		</li>
		<li data-page="63%" id="bt-nav-3" class="menu-nav-item nav-pages" data-icon="projects-icon" data-iconposy="15px">
			<div class="hover-menu">
				<div class="hours-menu" id="hour-projects"></div>
			</div>
		</li>
		<li data-page="100%" id="bt-nav-4" class="menu-nav-item nav-pages" data-icon="contact-icon" data-iconposy="15px">
			<div class="hover-menu">
				<div class="hours-menu" id="hour-contact"></div>
			</div>
		</li>
	</ul>
	<svg id="line-nav" xmlns="http://www.w3.org/2000/svg" height="10px" width="376px">
	    <line id="path-line" x1="0" y1="0" x2="376" y2="0" stroke-width="10" stroke="#cacaca"/>
	</svg>
	<svg id="line-nav-hover" xmlns="http://www.w3.org/2000/svg" height="10px" width="376px">
	    <line id="path-line-hover" x1="0" y1="0" x2="0" y2="0" stroke-width="10" stroke="#dd666c"/>
	</svg>
</nav> 

<!-- CHARACTER -->
<div id="character" href="#modal-about-details" class="cd-modal-trigger"></div>

<section id="home">
		
	<div class="terminal-window">
	  <header>
	    <div class="button green"></div>
	    <div class="button yellow"></div>
	    <div class="button red"></div>
	  </header>
	  <section class="terminal">
	    <div class="history"></div>
	    $&nbsp;<span class="prompt"></span>
	    <span class="typed-cursor"></span>
	    
	  </section>
	</div>

</section>