footer{
  width: 100%;
  height: 10vh;
  background-color: #1b1b1b;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 16px;

  &:before{
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right, #21caf7 , #3265f5);
    position: absolute;
    top: 0;
  }

  button{
    width: 150px;
    margin: 0 auto;
    background-color: #383737;
    color: #FFF;
    padding: 8px 15px 8px 15px;
    border: 0;
    border-radius: 4px;
    outline: none;
  }

}


main{
  padding-top: 10px;

  #price{
    border-radius: 4px;
    border: 1px solid #3e3d3d;
    padding: 10px;
    color: #FFF;
    background: #252525;
    width: 60%;
    margin-left: 20%;
    text-align: right;
    outline: none;
  }


  input#address{
    width: 90%;
    margin-left: 5%;
    border: 0;
    border-bottom: 1px solid #a9a8a8;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #2d2d2d;
    color: #FFF;
    font-size: 11px;
    border-radius: 0;
  }

  ul#categories{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;


    li{
      width: 22vw;
      height: auto;
      display: inline-block;
      border-radius: 4px;
      border-left: 1px solid #299df7;
      border-top: 1px solid #299df7;
      border-right: 1px solid #299df7;
      border-bottom: 1px solid #299df7;
      margin-bottom: 8px;
      list-style: none;
      -webkit-box-shadow: 9px 10px 8px -9px rgba(0,0,0,0.81);
      -moz-box-shadow: 9px 10px 8px -9px rgba(0,0,0,0.81);
      box-shadow: 9px 10px 8px -9px rgba(0,0,0,0.81);


      i{
        margin-top: 30px;
        margin-bottom: 10px;
        background: transparent;
        font-size: 25px;
        color: #a9a8a8;
      }

      p{
        font-size: 10px;
        color: #a9a8a8;
      }
    }
  }

  ul#values{
    text-align: center;

    li{
      width: 15%;
      display: inline-block;
      height: auto;
      border: 0px solid #666;
      background: #3e3d3d;
      border-radius: 4px;
      margin: 3px;
      padding: 10px;
      font-size: 13px;
      margin-bottom: 10px;
      font-weight: bold;
      color: #FFF;
    }
  }
}
